# Entornos virtuales
venv/
.venv/
env/
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Flutter
build/
.dart_tool/
.flutter-plugins-dependencies
.fvm/
*.log

# React/Vite
dist/
.vite/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Archivos de base de datos
*.sqlite3
*.db
